body,
html {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,255,255);
  flex-direction: column;
}

.form {
  text-align: left;
}

.input {
  display: flex;
  width: 100%;
  padding: 9px 10px;
  flex-direction: column;
}

.input1 {
  margin-top: 10%;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
}


.Layout {
  flex-grow: 1;
  position: relative;
  padding-bottom: 5rem;
}

ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #EEE;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 0.3s ease;
  background-color: rgb(255, 212, 0);
  color: black;

}

ul li:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  background-color:#EEE;
  color: black;
}

button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 0.3s ease;
  background-color: #999999;
  color: black;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #EEE;
  color: black;
}

a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
}